* {
    box-sizing: border-box;
}
span,
p,
h1,
h2,
button,
div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    border: none;
    font-weight: bold;
}
img {
    border-radius: 8px 8px 0px 0px;
    height: 45%;
    width: 100%;
}
.main-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 810px;
}
h2 {
    font-size: 16px;
}
.top-card {
    background-color: #F2F5F9;
    border-radius: 8px;
    display: flex;
    margin: 16px 0px 24px;
    padding: 48px 48px 16px;
}
.w-50 {
    width: 50%;
}
.top-card-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.top-banner {
    background-color: #9C195B;
    color: #FFFFFF;
    font-size: 12px;
    font-style: bold;
    margin: 0px 0px 8px;
    padding: 0.3em 0.8em 0.3em 0.8em;
    width: fit-content;
}
.top-banner-title {
    font-size: 32px;
    margin: 0px 0px 8px;
}
.top-card-button {
    background-color: #9C195B;
    border-radius: 5em;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-self: flex-end;
    margin-top: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    width: fit-content;
}
.top-card-button:hover {
    background-color: #940F62;
}
.top-card-right {
    display: flex;
}
.top-card-svg {
    align-self: center;
    height: 12em;
    justify-self: end;
    margin-left: 10em;
    width: 18em;
}
.fa-check {
    align-self: center;
    justify-self: center;
    margin: 0px 8px 0px 0px;
    padding-right: 10px;
}
.top-card-text {
    display: flex;
    flex-direction: column;
}
.text-container {
    display: flex;
}
.text-container-item {
    font-size: 18px;
}
.bottom-card-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
}
.bottom-card {
    border: 1px solid gray;
    border-style: ridge;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 190px;
    margin-bottom: 48px;
    padding: 24px 16px 16px;
}

.left-bottom-card-right {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 12px;
}

.left-bottom-card-title {
    margin: 0px 0px 8px;
}

.left-bottom-card-subtitle {
    color: #5E737D;
    font-size: 16px;
    margin: 0px 0px 8px;
}
.left-bottom-card-action {
    align-self: flex-end;
    display: flex;
    font-size: 16px;
}
.right-bottom-card-right {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 12px;
}
.right-bottom-card-title {
    margin: 0px 0px 8px;
}
.right-bottom-card-subtitle {
    color: #5E737D;
    font-size: 16px;
    margin: 0px 0px 8px;
}
.right-bottom-card-action {
    align-self: flex-end;
    display: flex;
    font-size: 16px;
}
.fa-long-arrow-right {
    margin-left: 1em;
}
.projobs-fencing-banner {
    background-color: #F2F5F9;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 24px;
    width: 810px;
}
.carousel-banner {
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0;
}
.carousel-title-card {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}
.user-flag {
    background-color: #9C195B;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    padding: 0.3em 0.8em 0.3em 0.8em;
    width: fit-content;
}
.user-flag span {
    color: #FFFFFF;
    font-weight: bold;
}
.user-flag i {
    margin-left: 2px;
    transition: transform .15s ease-out;
}
.carousel-title {
    align-self: flex-start;
    display: flex;
}
#carousel-top {
    margin-bottom: 4px;
    margin-right: 12px;
}
.carousel-title-right {
    align-self: center;
    display: flex;
}
#carousel-title-text {
    font-size: 24px;
    margin-top: 0;
}
.projobs-fencing-banner-text {
    display: flex;
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 0;
}
.subtitle-carousel {
    align-self: flex-start;
    color: #5E737D;
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 0;
}
.carousel-nav {
    align-self: flex-start;
    display: flex;
    font-size: 16px;
    padding: 0px 12px;
}
.top-carousel-button {
    align-items: center;
    background-color: #DBE2E6;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 42px;
    justify-items: center;
    margin-bottom: 16px;
    margin-right: 8px;
    padding: 1px 16px;
}
.top-carousel-button:hover {
    background-color: #7C8A9C;
}
.highligth-carousel {
    align-items: center;
    background-color: black;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 42px;
    justify-items: center;
    margin-right: 8px;
    padding: 1px 16px;
}
.fa-close {
    align-self: flex-end;
}
.carousel-container {
    align-self: flex-start;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: inherit;
}
.carousel-card {
    border: 1px solid #5E737D;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 274.5px;
    margin-right: 16px;
    width: 224px;
}
#bottom-carousel-btn {
    align-self: flex-start;
    font-size: 18px;
}
.carousel-text-box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 12px 16px;
}
.carousel-card-title {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 0px;
}
.carousel-card-subtitle {
    font-size: 14px;
    margin: 0;
}